<ion-content id="body">
  <ion-text id="text" color="black">
    <h1 style="font-weight: bold; margin-top: 150px; font-size: 45px;">{{ titulo }}</h1>
    <h3 style="font-weight: bold; font-size: 34px;">Lo has {{ verbo }} con {{ vidas }} intentos restantes</h3>
  </ion-text>
  <ion-button style="margin-top: 60px;" class="buttons" (click)="juegoPagina()" expand="block" shape="round">
    PLAY AGAIN
  </ion-button>
  <ion-button class="buttons" (click)="inicioPagina()" expand="block" shape="round">
    MENU
  </ion-button>

</ion-content>
