#body {
    --background: url("../../../assets/background.jpg");
}

#game {
    width: 100%;
}

#keyboard {
    margin-top: 20px;
    width: 100%;
}

#hangman {
    width: 240px;
    height: 240px;
    margin-left: 64px;
}

.buttons {
    --background: white;
    --color: blue;
    --padding-start: 0px;
    --padding-end: 0px;
    margin: none !important;
}


#text {
    text-align: center;
}

#palabra {
    margin-top: 0px;
    color: black;
    font-size: 50px;
    text-align: center;
    font-family: fantasy;
}