<ion-content id="body">
  <div id="game">
    <h1 id="palabra">{{substituida}}</h1>
    <img id="hangman" src="{{ hangman }}">
  </div>
  <div id="keyboard">
    <ion-grid>
      <ion-row className="ion-justify-content-center">
        <ion-col>
          <ion-button id="q" (click)="substituir('q', $event)" shape="round" class="buttons" expand="block">
            Q
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="w" (click)="substituir('w', $event)" shape="round" class="buttons" expand="block">
            W
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="e" (click)="substituir('e', $event)" shape="round" class="buttons" expand="block">
            E
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="r" (click)="substituir('r', $event)" shape="round" class="buttons" expand="block">
            R
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="t" (click)="substituir('t', $event)" shape="round" class="buttons" expand="block">
            T
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="y" (click)="substituir('y', $event)" shape="round" class="buttons" expand="block">
            Y
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="u" (click)="substituir('u', $event)" shape="round" class="buttons" expand="block">
            U
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row className="ion-justify-content-center">
        <ion-col>
          <ion-button id="i" (click)="substituir('i', $event)" shape="round" class="buttons" expand="block">
            I
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="o" (click)="substituir('o', $event)" shape="round" class="buttons" expand="block">
            O
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="p" (click)="substituir('p', $event)" shape="round" class="buttons" expand="block">
            P
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="a" (click)="substituir('a', $event)" shape="round" class="buttons" expand="block">
            A
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="s" (click)="substituir('s', $event)" shape="round" class="buttons" expand="block">
            S
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="d" (click)="substituir('d', $event)" shape="round" class="buttons" expand="block">
            D
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="f" (click)="substituir('f', $event)" shape="round" class="buttons" expand="block">
            F
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row className="ion-justify-content-center">
        <ion-col>
          <ion-button id="g" (click)="substituir('g', $event)" shape="round" class="buttons" expand="block">
            G
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="h" (click)="substituir('h', $event)" shape="round" class="buttons" expand="block">
            H
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="j" (click)="substituir('j', $event)" shape="round" class="buttons" expand="block">
            J
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="k" (click)="substituir('k', $event)" shape="round" class="buttons" expand="block">
            K
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="l" (click)="substituir('l', $event)" shape="round" class="buttons" expand="block">
            L
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="ñ" (click)="substituir('ñ', $event)" shape="round" class="buttons" expand="block">
            Ñ
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="z" (click)="substituir('z', $event)" shape="round" class="buttons" expand="block">
            Z
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row className="ion-justify-content-center">
        <ion-col>
          <ion-button id="x" (click)="substituir('x', $event)" shape="round" class="buttons" expand="block">
            X
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="c" (click)="substituir('c', $event)" shape="round" class="buttons" expand="block">
            C
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="v" (click)="substituir('v', $event)" shape="round" class="buttons" expand="block">
            V
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="b" (click)="substituir('b', $event)" shape="round" class="buttons" expand="block">
            B
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="n" (click)="substituir('n', $event)" shape="round" class="buttons" expand="block">
            N
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="m" (click)="substituir('m', $event)" shape="round" class="buttons" expand="block">
            M
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-text id="text" color="black">
    <h1 id="intentos" style="font-weight: bold;">{{intentos}}</h1>
  </ion-text>
</ion-content>

















<!-- <ion-button (click)="finalPagina()" shape="round" class="buttons">
      Q
    </ion-button>
    <ion-button (click)="finalPagina()" shape="round" class="buttons">
      W
    </ion-button>
    <ion-button (click)="finalPagina()" shape="round" class="buttons">
      E
    </ion-button>
    <ion-button (click)="finalPagina()" shape="round" class="buttons">
      R
    </ion-button>
    <ion-button (click)="finalPagina()" shape="round" class="buttons">
      T
    </ion-button>
    <ion-button (click)="finalPagina()" shape="round" class="buttons">
      Y
    </ion-button>
    <ion-button (click)="finalPagina()" shape="round" class="buttons">
      U
    </ion-button>
    <ion-button (click)="finalPagina()" shape="round" class="buttons">
      I
    </ion-button>
    <ion-button (click)="finalPagina()" shape="round" class="buttons">
      O
    </ion-button>
    <ion-button (click)="finalPagina()" shape="round" class="buttons">
      P
    </ion-button> -->