<ion-content id="body">
  <img id="logo" src="../../../assets/logo.png"/>
  <ion-item id="select">
    <ion-label style="font-size: 30px; font-weight: bold;">Dificultad</ion-label>
    <ion-select [(ngModel)]="dificultad" interface="popover" value="facil">
      <ion-select-option value="facil">Facil</ion-select-option>
      <ion-select-option value="dificil">Dificil</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button class="buttons" (click)="juegoPagina()" expand="block" shape="round">
    PLAY
  </ion-button>
  <ion-button class="buttons" (click)="showToast()"expand="block" shape="round">
    HELP
  </ion-button>
</ion-content>
