#body {
    --background: url("../../../assets/background.jpg");
}

#logo {
    width: 240px;
    height: 240px;
    margin-left: 64px;
    margin-top: 130px;
}

.buttons {
    --background: black;
    font-size: 24px;
    font-weight: 900;
    height: 60px;
    margin-top: 20px;
}

#select {
    --background: black;
    --color: white;
}